In [59]:
import pandas as pd

In [60]:
df=pd.read_excel(r"c:\Users\ESTHER\Desktop\WITU COHORT 3\Year one\Semester one\Data science and machine learning\Data\dataset.xlsx")
print(df)

    S/N                      Name  Age  Height  Weight  Admission cohort 3
0     1            Adokorac Nancy   20  177.80      74                   1
1     2   Amutuhaire Faith Ahabwe   27  157.50      47                   1
2     3     KWAGALA JOANNA VICTOR   21  210.82      54                   1
3     4              mahoro cathy   23  187.96      30                   1
4     5  Mbabazi Hawa Bint Edrisa   19  175.25      59                   1
5     6       Nakanjako josephine   24  175.25      65                   1
6     7            Nanteza Dorcus   21  157.48      69                   1
7     8             Mbabazi Angel   19  167.64      57                   1
8     9            Namara Racheal   19  154.94      55                   1
9    10       Lwamulungi Sheillah   22  162.56      78                   1
10   11           Nakawuka Sandra   25  175.25      60                   1
11   12   Achola Gloria Fortunate   27  172.72      80                   1
12   13             Nagawa Esther   21  187.96      58                   1
13   14           wanjiku hananny   19  165.10      50                   1
14   15            babirye Sandra   21  175.25      50                   1
15   16          nakagga shanitah   21  175.25      50                   1
16   17    Wembabazi Vivian Ritah   20  160.02      49                   1
17   18   Nanziri Ritah Namayanja   23  162.56      70                   1
18   19            Nasejje Mariam   20  101.60      62                   1
19   20  Namukose Jolline Edriana   20  162.56      55                   1
20   21      Agatha Faith Anyango   27   93.98      55                   1
21   22              Kirabo Sarah   23  165.10      60                   1
22   23          Nansalire Anitah   21   63.50      45                   1
23   24             Nalugo gladys   19  101.60      70                   1
24   25            Namakula Allen   20  170.18      55                   1
25   26           Tukahirwa emily   22  175.26      67                   1
26   27            Shamirah Ahmed   21  137.16      67                   1
27   28          Ameso lmmaculate   23  165.10      64                   1
28   29                Ayoo Teddy   20  157.48      50                   1
29   30                Biira Mary   30  104.14      65                   1
30   31        Aloyo Brenda Ojera   23  170.18      52                   1
31   32        Ayebale Immaculate   24  162.56      50                   1

In [61]:
df.tail(10)

    S/N                Name  Age  Height  Weight  Admission cohort 3
22   23    Nansalire Anitah   21   63.50      45                   1
23   24       Nalugo gladys   19  101.60      70                   1
24   25      Namakula Allen   20  170.18      55                   1
25   26     Tukahirwa emily   22  175.26      67                   1
26   27      Shamirah Ahmed   21  137.16      67                   1
27   28    Ameso lmmaculate   23  165.10      64                   1
28   29          Ayoo Teddy   20  157.48      50                   1
29   30          Biira Mary   30  104.14      65                   1
30   31  Aloyo Brenda Ojera   23  170.18      52                   1
31   32  Ayebale Immaculate   24  162.56      50                   1

In [62]:
pip install statsmodels

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: statsmodels in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (0.14.0)
Requirement already satisfied: numpy>=1.18 in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.26.0)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (1.11.3)
Requirement already satisfied: pandas>=1.0 in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (2.1.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in c:\users\esther\appdata\roaming\python\python311\site-packages (from statsmodels) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\esther\appdata\roaming\python\python311\site-packages (from pandas>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\esther\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.0->statsmodels) (2023.3)
Requirement already satisfied: six in c:\users\esther\appdata\roaming\python\python311\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# One

In [63]:
import statsmodels.formula.api as smf

In [64]:
from scipy.stats import linregress

In [72]:
Height=df["Height"]

In [75]:
Weight=df["Weight"]

In [67]:
import scipy.stats as stats

In [76]:
# decoding dataset
#height and weight

result = stats.linregress(Height, Weight)
print(result)

LinregressResult(slope=-0.013866774255916172, intercept=60.680424584101125, rvalue=-0.04125577875716405, pvalue=0.8226109993048019, stderr=0.06131406652282846, intercept_stderr=9.824109349902317)

# Two

In [ ]:
import pandas as pd

In [ ]:
from scipy.stats import linregress

In [ ]:
# Assuming "df" is your dataframe with"Weight","Height" and columns

#Convert "Weight","Height" and columns to numeric (float)

# Convert "Weight" column to numeric values
df["Weight"] = pd.to_numeric(df["Weight"], errors="coerce")

# Convert "Height" column to numeric values
df["Height"] = pd.to_numeric(df["Height"], errors="coerce")

In [ ]:
# Remove rows with NaN (not-a-number) values if necessary

df=df.dropna(subset=["Weight","Height"])

In [ ]:
# Perform linear regression
result=linregress(df["Weight"] , df["Height"])

In [ ]:
# print the result
print(result)

LinregressResult(slope=-0.12274226503210753, intercept=164.42136000437833, rvalue=-0.04125577875716405, pvalue=0.8226109993048019, stderr=0.5427237268343382, intercept_stderr=32.242140463745315)

#  Three

In [ ]:
import pandas as pd

In [ ]:
from scipy.stats import linregress

In [77]:
Weight=df["Weight"]

In [ ]:
Height=df["Height"]

In [78]:
results=linregress(Weight,Height)
print(results)

LinregressResult(slope=-0.12274226503210753, intercept=164.42136000437833, rvalue=-0.04125577875716405, pvalue=0.8226109993048019, stderr=0.5427237268343382, intercept_stderr=32.242140463745315)